table {
    width: 400px;
    text-align: center;
    border : solid 1px;
    border-collapse: collapse;
  }

  thead {
    background-color: rgb(7, 121, 156);
  }
  
  tbody > tr:nth-of-type(even) {
      background-color:  rgba(7, 121, 156, .5);
    }
  
  th,td {
    padding: 8px 40px;
    text-align: center;
    vertical-align: center;
    border: none;
  }